<a href="https://colab.research.google.com/github/Sudhanshu-Ambastha/Heart-Disease-Prediction-Bot/blob/main/Heart_Disease_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [204]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn import svm

In [205]:
csv_data1 =("./heart_disease_data.csv")
heart_dataset_1 = pd.read_csv(csv_data1 )

In [206]:
csv_data2 =("./Heart_Disease_Prediction.csv")
heart_dataset_2 = pd.read_csv(csv_data2 )

In [207]:
csv_data3 =("./heart.csv")
heart_dataset_3 = pd.read_csv(csv_data3 )

In [208]:
print("dataset_1:")
display(heart_dataset_1.head())
print("dataset_2:")
display(heart_dataset_2.head())
print("dataset_3:")
display(heart_dataset_3.head())

dataset_1:

,Age,Sex,Chest pain type,BP,Cholestrol,FBS over 120,ECG Result,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,Presence
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,Presence
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,Presence
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,Presence
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,Presence

dataset_2:

,Age,Sex,Chest pain type,BP,Cholestrol,FBS over 120,ECG Result,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

dataset_3:

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [209]:
print("dataset_1:")
display(heart_dataset_1.tail())
print("dataset_2:")
display(heart_dataset_2.tail())
print("dataset_3:")
display(heart_dataset_3.tail())

dataset_1:

,Age,Sex,Chest pain type,BP,Cholestrol,FBS over 120,ECG Result,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,Absence
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,Absence
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,Absence
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,Absence
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,Absence

dataset_2:

,Age,Sex,Chest pain type,BP,Cholestrol,FBS over 120,ECG Result,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,Absence
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,Absence
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,Absence
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,Absence
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence

dataset_3:

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [210]:
print("dataset_1:")
display(heart_dataset_1.shape)
print("dataset_2:")
display(heart_dataset_2.shape)
print("dataset_3:")
display(heart_dataset_3.shape)

dataset_1:

(303, 14)

dataset_2:

(270, 14)

dataset_3:

(1025, 14)

In [211]:
print("dataset_1:")
display(heart_dataset_1.info())
print("dataset_2:")
display(heart_dataset_2.info())
print("dataset_3:")
display(heart_dataset_3.info())

dataset_1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      303 non-null    int64
 1   Sex                      303 non-null    int64
 2   Chest pain type          303 non-null    int64
 3   BP                       303 non-null    int64
 4   Cholestrol               303 non-null    int64
 5   FBS over 120             303 non-null    int64
 6   ECG Result               303 non-null    int64
 7   Max HR                   303 non-null    int64
 8   Exercise angina          303 non-null    int64
 9   ST depression            303 non-null    float64
 10  Slope of ST              303 non-null    int64
 11  Number of vessels fluro  303 non-null    int64
 12  Thallium                 303 non-null    int64
 13  target                   303 non-null    object
dtypes: float64(1), int64(12), object(1)
memory usage: 33.3+ KB

None

dataset_2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Sex                      270 non-null    int64
 2   Chest pain type          270 non-null    int64
 3   BP                       270 non-null    int64
 4   Cholestrol               270 non-null    int64
 5   FBS over 120             270 non-null    int64
 6   ECG Result               270 non-null    int64
 7   Max HR                   270 non-null    int64
 8   Exercise angina          270 non-null    int64
 9   ST depression            270 non-null    float64
 10  Slope of ST              270 non-null    int64
 11  Number of vessels fluro  270 non-null    int64
 12  Thallium                 270 non-null    int64
 13  Heart Disease            270 non-null    object
dtypes: float64(1), int64(12), object(1)
memory usage: 29.7+ KB

None

dataset_3:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

None

In [212]:
print("dataset_1:")
display(heart_dataset_1.isnull().sum())
print("dataset_2:")
display(heart_dataset_2.isnull().sum())
print("dataset_3:")
display(heart_dataset_3.isnull().sum())

dataset_1:

Age                        0
Sex                        0
Chest pain type            0
BP                         0
Cholestrol                 0
FBS over 120               0
ECG Result                 0
Max HR                     0
Exercise angina            0
ST depression              0
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
target                     0
dtype: int64

dataset_2:

Age                        0
Sex                        0
Chest pain type            0
BP                         0
Cholestrol                 0
FBS over 120               0
ECG Result                 0
Max HR                     0
Exercise angina            0
ST depression              0
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Heart Disease              0
dtype: int64

dataset_3:

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [213]:
print("dataset_1:")
display(heart_dataset_1.describe())
print("dataset_2:")
display(heart_dataset_2.describe())
print("dataset_3:")
display(heart_dataset_3.describe())

dataset_1:

,Age,Sex,Chest pain type,BP,Cholestrol,FBS over 120,ECG Result,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000

dataset_2:

,Age,Sex,Chest pain type,BP,Cholestrol,FBS over 120,ECG Result,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
count,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.00000,270.000000,270.000000,270.000000
mean,54.433333,0.677778,3.174074,131.344444,249.659259,0.148148,1.022222,149.677778,0.329630,1.05000,1.585185,0.670370,4.696296
std,9.109067,0.468195,0.950090,17.861608,51.686237,0.355906,0.997891,23.165717,0.470952,1.14521,0.614390,0.943896,1.940659
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.00000,1.000000,0.000000,3.000000
25%,48.000000,0.000000,3.000000,120.000000,213.000000,0.000000,0.000000,133.000000,0.000000,0.00000,1.000000,0.000000,3.000000
50%,55.000000,1.000000,3.000000,130.000000,245.000000,0.000000,2.000000,153.500000,0.000000,0.80000,2.000000,0.000000,3.000000
75%,61.000000,1.000000,4.000000,140.000000,280.000000,0.000000,2.000000,166.000000,1.000000,1.60000,2.000000,1.000000,7.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.20000,3.000000,3.000000,7.000000

dataset_3:

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [214]:
print("dataset_1:")
display(heart_dataset_1['target'].value_counts())
print("dataset_2:")
display(heart_dataset_2['Heart Disease'].value_counts())
print("dataset_3:")
display(heart_dataset_3['target'].value_counts())

dataset_1:

target
Presence    165
Absence     138
Name: count, dtype: int64

dataset_2:

Heart Disease
Absence     150
Presence    120
Name: count, dtype: int64

dataset_3:

target
1    526
0    499
Name: count, dtype: int64

In [215]:
print("dataset_1:")
heart_dataset_1.groupby('target').mean()
print("dataset_2:")
heart_dataset_2.groupby('Heart Disease').mean()
print("dataset_3:")
heart_dataset_3.groupby('target').mean()

dataset_1:
dataset_2:
dataset_3:

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
target,,,,,,,,,,,,,
0,56.569138,0.827655,0.482966,134.106212,251.292585,0.164329,0.456914,139.130261,0.549098,1.600200,1.166333,1.158317,2.539078
1,52.408745,0.570342,1.378327,129.245247,240.979087,0.134981,0.598859,158.585551,0.134981,0.569962,1.593156,0.370722,2.119772

In [216]:
#heart_dataset_1:
x = heart_dataset_1.drop(columns='target', axis=1)
y = heart_dataset_1['target']

In [217]:
#heart_dataset_2:
x = heart_dataset_2.drop(columns='Heart Disease', axis=1)
y = heart_dataset_2['Heart Disease']

In [218]:
#heart_dataset_3:
x = heart_dataset_3.drop(columns='target', axis=1)
y = heart_dataset_3['target']

In [219]:
print("dataset_1:")
print(x)
print("dataset_2:")
print(x)
print("dataset_3:")
print(x)

dataset_1:
      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal
0         2   2     3
1         0   0     3
2         0   0     3
3         2   1     3
4         1   3     2
...     ...  ..   ...
1020      2   0     2
1021      1   1     3
1022      1   1     2
1023      2   0     2
1024      1   1     3

[1025 rows x 13 columns]
dataset_2:
      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal
0         2   2     3
1         0   0     3
2         0   0     3
3         2   1     3
4         1   3     2
...     ...  ..   ...
1020      2   0     2
1021      1   1     3
1022      1   1     2
1023      2   0     2
1024      1   1     3

[1025 rows x 13 columns]
dataset_3:
      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal
0         2   2     3
1         0   0     3
2         0   0     3
3         2   1     3
4         1   3     2
...     ...  ..   ...
1020      2   0     2
1021      1   1     3
1022      1   1     2
1023      2   0     2
1024      1   1     3

[1025 rows x 13 columns]

In [220]:
print("dataset_1:")
print(y)
print("dataset_2:")
print(y)
print("dataset_3:")
print(y)

dataset_1:
0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64
dataset_2:
0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64
dataset_3:
0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

In [221]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=8)
x_train_2,x_test_2,y_train_2,y_test_2=train_test_split(x,y,test_size=0.2,stratify=y,random_state=8)

In [222]:
print("dataset_1:")
print(x.shape,x_train.shape,x_test.shape)
print(x.shape,x_train_2.shape,x_test_2.shape)
print("dataset_2:")
print(x.shape,x_train.shape,x_test.shape)
print(x.shape,x_train_2.shape,x_test_2.shape)
print("dataset_3:")
print(x.shape,x_train.shape,x_test.shape)
print(x.shape,x_train_2.shape,x_test_2.shape)

dataset_1:
(1025, 13) (820, 13) (205, 13)
(1025, 13) (820, 13) (205, 13)
dataset_2:
(1025, 13) (820, 13) (205, 13)
(1025, 13) (820, 13) (205, 13)
dataset_3:
(1025, 13) (820, 13) (205, 13)
(1025, 13) (820, 13) (205, 13)

In [223]:
print(x_test)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
416   54    1   2       125   273    0        0      152      0      0.5
831   58    1   1       125   220    0        1      144      0      0.4
937   64    1   2       140   335    0        1      158      0      0.0
934   42    1   2       130   180    0        1      150      0      0.0
584   55    1   0       132   353    0        1      132      1      1.2
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
561   65    0   2       155   269    0        1      148      0      0.8
455   69    1   3       160   234    1        0      131      0      0.1
590   74    0   1       120   269    0        0      121      1      0.2
576   52    1   3       152   298    1        1      178      0      1.2
683   43    1   0       120   177    0        0      120      1      2.5

     slope  ca  thal
416      0   1     2
831      1   4     3
937      2   0     2
934      2   0     2
584      1   1     3
..     ...  ..   ...
561      2   0     2
455      1   1     2
590      2   1     2
576      1   0     3
683      1   0     3

[205 rows x 13 columns]

In [224]:
classifier = svm.SVC(kernel='linear')
model=LogisticRegression()

classifier.fit(x_train, y_train)
model.fit(x_train_2,y_train_2)

C:\Users\sudha\AppData\Roaming\Python\Python313\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [225]:
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction,y_train)

x_train_prediction_2 = classifier.predict(x_train)
training_data_accuracy_2 = accuracy_score(x_train_prediction_2,y_train_2)

In [226]:
print('Accuracy on Training data:',training_data_accuracy)
print('Accuracy on Training data:',training_data_accuracy_2)

Accuracy on Training data: 0.8365853658536585
Accuracy on Training data: 0.8560975609756097

In [227]:
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction,y_test)
x_test_prediction_2 = model.predict(x_test)
test_data_accuracy_2 = accuracy_score(x_test_prediction_2,y_test_2)

In [228]:
print('Accuracy on Test data:', training_data_accuracy)
print('Accuracy on Test data:', training_data_accuracy_2)

Accuracy on Test data: 0.8365853658536585
Accuracy on Test data: 0.8560975609756097

In [229]:
#input_Data = (age, sex, CP, BP, cholesterol, FBS over 120, ECG Result, Max HR, Exercise angina, ST depression, Slope of ST, Number of vessels fluro, Thallium
input_data = (20,0,2,90,200,0,0,150,0,0.0,2,0,2)
input_data_as_numpy_array= np.asarray(input_data)
input_data_reshape = input_data_as_numpy_array.reshape(1,-1)
prediction = model.predict(input_data_reshape)
print(prediction)
if (prediction[0]==0):
  print('The person does not have a Heart Disease')
else:
  print('The person has Heart Disease')

[1]
The person has Heart Disease

C:\Users\sudha\AppData\Roaming\Python\Python313\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [230]:
import pickle

In [231]:
filename = 'Heart disease prediction bot trained_model.sav'
pickle.dump(model , open(filename, 'wb'))
pickle.dump(classifier , open(filename, 'wb'))

In [232]:
# loading the saved model
loaded_model = pickle.load(open('Heart disease prediction bot trained_model.sav', 'rb'))

In [233]:
input_data = (58,0,0,100,248,0,0,122,0,1,1,0,2)
input_data_as_numpy_array= np.asarray(input_data)
input_data_reshape = input_data_as_numpy_array.reshape(1,-1)

prediction = loaded_model.predict(input_data_reshape)
print(prediction)
if (prediction[0]==0):
  print('The person does not have a Heart Disease')
else:
  print('The person has Heart Disease')

[1]
The person has Heart Disease

C:\Users\sudha\AppData\Roaming\Python\Python313\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(